* {
  font-family: "Montserrat", sans-serif;
}
#quote h1 {
  color: black;
  font-size: 80px;
  font-weight: 700;
}
#quote p {
  color: black;
  font-size: 35px;
  font-weight: 400;
}
#quote button {
  color: white;
  width: 300px;
  height: 100px;
  background-color: rgb(0, 115, 255);
  transition: all 0.6s 0s ease-in-out;
}
#quote button:hover {
  background-color: rgb(35, 142, 53);
}
